/* You can add global styles to this file, and also import other style files */
.success-panel-class {
  background: pink !important;
  border: 1px solid pink !important;
  color: black !important;
}
